@page "/game/{id:int}"
@inject HttpClient httpClient
<PageTitle>@name</PageTitle>

<section class="game-container">
    @if(games != null && games.Count() > 0) {
        if(@bannerUrl != "") {
            <img class="game-banner" src="@bannerUrl"/>
        } else {
            <div class="game-banner"></div>
        }
        <GameTitleCard coverId="@games[0].Cover.Image_Id" name="@games[0].Name" summary="@games[0].Summary" Genres="@games[0].Genres" Platforms="@games[0].Platforms"/>
        
        if(@games[0].Screenshots != null && @games[0].Screenshots.Count() > 0) {
            <h2>Screenshots</h2>
            <ReelContainer Screenshots="@games[0].Screenshots" type="screenshots"/>
        }

        if(@games[0].Similar_Games != null && @games[0].Similar_Games.Count() > 0) {
            <h2>Similar Games</h2>
            <GameCardContainer Endpoint="similargames" IDList="@games[0].Similar_Games"/>
        }

        if(@games[0].Artworks != null && @games[0].Artworks.Count() > 4) {
            <h2>Artworks</h2>
            <ReelContainer Artworks="@games[0].Artworks" type="artworks"/>
        }
        
        if(@games[0].Videos != null && @games[0].Videos.Count() > 0) {
            <h2>Related Videos</h2>
            <ReelContainer Videos="games[0].Videos" type="videos"/>
        }
    } else {
        <h1>Loading</h1>
    }
</section>

@code {
    [Parameter]
    public int Id {get; set;}

    private List<Game>? games = new List<Game>();
    public string bannerUrl = "";
    public string name = "";

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetAsync($"http://localhost:5249/games/{Id}");
        if (response.IsSuccessStatusCode)
        {
            games = await response.Content.ReadFromJsonAsync<List<Game>>();
            if(@games[0].Artworks != null && @games[0].Artworks.Count() > 0) {
                bannerUrl = $"https://images.igdb.com/igdb/image/upload/t_1080p/{@games[0].Artworks[0].Image_Id}.jpg";
            }
            name = games[0].Name;
            Console.WriteLine(@games[0].Similar_Games);
        }
        else
        {
            // Handle error
        }
    }
}