<div class="game-title-card">
    <img class="game-title-cover" src=@coverUrl/>
    <section class="game-title-summary">
        <h2>@name</h2>
        <p>@summary</p>

        <PlatformsAndGenres Genres="@Genres" Platforms="@Platforms"/>
        <Websites websites="@websites"/>
    </section>
</div>

@code {
    [Parameter]
    public string coverId { get; set; } = "";
    [Parameter]
    public string name { get; set; } = "";
    [Parameter]
    public string summary { get; set; } = "";
    [Parameter]
    public List<Genre> Genres { get; set; } = new List<Genre>();
    [Parameter]
    public List<Platform> Platforms { get; set; } = new List<Platform>();
    [Parameter]
    public List<Website> websites { get; set; } = new List<Website>();

    public string coverUrl { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        coverUrl = $"https://images.igdb.com/igdb/image/upload/t_cover_big/{@coverId}.jpg";
    }
}